<h1>Shopping cart</h1>
<div class="row">
  <div class="col-sm-2">Brand</div>
  <div class="col-sm-2">Model</div>
  <div class="col-sm-2">Variant</div>
  <div class="col-sm-2">Price</div>
  <div class="col-sm-2">Short</div>
  <div class="col-sm-2">Long</div>
</div> 

<% shopping_cart_get_products().each do |k,v|%>
	<div class="row">
	    <div class="col-sm-2"><%= Product.find(k).brand %></div>
	    <div class="col-sm-2"><%= Product.find(k).model %></div>
	    <div class="col-sm-2"><%= Product.find(k).variant %></div>
	    <div class="col-sm-2">$ <%= Product.find(k).price %></div>
	    <div class="col-sm-2"><%= Product.find(k).short %></div>
	    <div class="col-sm-2"><%= Product.find(k).long %></div>
	    <div class="col-sm-2"><%= link_to 'http://localhost:3000/shopping_cart/remove/'+ k.to_s, method: :delete,
                    data: { confirm: 'Are you sure you want to remove this ticket?' } do %>
                  <span>Remove</span>
                <% end %></div>
	</div> 
<%end%>

<%= link_to 'Back', :back %> |
<%= link_to 'Checkout', 'http://localhost:3000/shopping_cart/checkout' %>
	